# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
pyber_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
pyber_ride_count.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
pyber_driver_count = pyber_data_df.groupby(["type"]).count()["driver_count"]
pyber_driver_count.head()

type
Rural        125
Suburban     625
Urban       1625
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
pyber_fare_total = pyber_data_df.groupby(["type"]).sum()["fare"]
pyber_fare_total.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 
pyber_avg_fare = pyber_data_df.groupby(["type"]).mean()["fare"]
pyber_avg_fare.head()

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 
pyber_avg_fare_driver = pyber_data_df.groupby(["type"]).sum()["fare"]/pyber_data_df.groupby(["type"]).count()["driver_count"]
pyber_avg_fare_driver.head()

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame. 
summary_list = [pyber_ride_count, pyber_driver_count, pyber_fare_total, pyber_avg_fare, pyber_avg_fare_driver]
pyber_summary_df = pd.DataFrame(summary_list)
pyber_summary_df.head()

type               Rural      Suburban         Urban
ride_id        125.00000    625.000000   1625.000000
driver_count   125.00000    625.000000   1625.000000
fare          4327.93000  19356.330000  39854.380000
fare            34.62344     30.970128     24.525772
Unnamed 0       34.62344     30.970128     24.525772

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.
pd.options.display.float_format = '{:,.2f}'.format
pyber_summary_df.head()

type            Rural  Suburban     Urban
ride_id        125.00    625.00  1,625.00
driver_count   125.00    625.00  1,625.00
fare         4,327.93 19,356.33 39,854.38
fare            34.62     30.97     24.53
Unnamed 0       34.62     30.97     24.53

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

data =  pyber_data_df.groupby(["date"]).sum()["fare"],pyber_data_df.groupby(["type"]).sum()["fare"]
pyber_weekly_fares_df = pd.DataFrame(data)
pyber_weekly_fares_df.head()

,2019-01-01 00:08:16,2019-01-01 00:46:46,2019-01-01 02:07:24,2019-01-01 03:46:50,2019-01-01 05:23:21,2019-01-01 09:45:36,2019-01-01 12:32:48,2019-01-01 14:40:14,2019-01-01 14:42:25,2019-01-01 14:52:06,...,2019-05-08 01:54:18,2019-05-08 02:31:25,2019-05-08 04:20:00,2019-05-08 04:39:49,2019-05-08 07:29:01,2019-05-08 11:38:35,2019-05-08 13:10:18,Rural,Suburban,Urban
fare,37.91,47.74,24.07,7.57,10.75,43.69,25.56,5.42,12.31,31.15,...,32.69,41.33,21.99,18.45,18.55,19.77,18.04,NaN,NaN,NaN
fare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,327.93","19,356.33","39,854.38"

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
fare_Bydate_df =  pyber_data_df.groupby(["date"]).sum()["fare"]
fare_Bydate_df.head()

date
2019-01-01 00:08:16   37.91
2019-01-01 00:46:46   47.74
2019-01-01 02:07:24   24.07
2019-01-01 03:46:50    7.57
2019-01-01 05:23:21   10.75
Name: fare, dtype: float64

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

pyber_weekly_fares_df = pyber_weekly_fares_df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pyber_weekly_fares_pivot = pyber_weekly_fares_df.pivot(index = "date", columns = "type", values = "fare")

KeyError: 'date'

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

quarter1_df = pyber_weekly_fares_pivot.loc['2019-01-01':'2019-04-29']

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

quarter1_df.index = pd.to_datetime(quarter1_df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
quarter1_df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
weekly_sums = quarter1_df.resample("W").sum()

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
fig, ax = plt.subplots()
ax.plot(quarter1_df.groupby("date"), weekly_sums)
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')